<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Blog App | {{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link href="/public/css/main.out.css" rel="stylesheet">
        {% block stylesheets %}{% endblock stylesheets %}

        <script type="text/javascript" src="/public/js/index.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->

        <div class="md:container md:mx-auto">
          <!-- Alert flash -->
          {% if flash %}
            {% if flash["alert_type"] == "success" %}
              <div id="toast-default"
                   class="fixed flex items-center w-full max-w-xs p-4 text-green-500 bg-white rounded-lg shadow dark:text-green-400 dark:bg-gray-800 top-5 right-5"
                   role="alert">
                  <button type="button"
                          class="-mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                          data-dismiss-target="#toast-default"
                          aria-label="Close">
                      <span class="sr-only">Close</span>
                      <svg class="w-3 h-3" aria-hidden="true"
                           xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                  </button>

                  <div class="ms-3 text-sm font-normal">{{ flash["content"] }}</div>
              </div>
            {% elif flash["alert_type"] == "error" %}
              <div id="toast-default"
                   class="fixed flex items-center w-full max-w-xs p-4 text-red-500 bg-white rounded-lg shadow dark:text-red-400 dark:bg-gray-800 top-5 right-5"
                   role="alert">
                  <button type="button"
                          class="-mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                          data-dismiss-target="#toast-default"
                          aria-label="Close">
                      <span class="sr-only">Close</span>
                      <svg class="w-3 h-3" aria-hidden="true"
                           xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                  </button>

                  <div class="ms-3 text-sm font-normal">{{ flash["content"] }}</div>
              </div>
            {% elif flash["alert_type"] == "warning" %}
              <div id="toast-default"
                   class="fixed flex items-center w-full max-w-xs p-4 text-yellow-500 bg-white rounded-lg shadow dark:text-yellow-400 dark:bg-gray-800 top-5 right-5"
                   role="alert">
                  <button type="button"
                          class="-mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                          data-dismiss-target="#toast-default"
                          aria-label="Close">
                      <span class="sr-only">Close</span>
                      <svg class="w-3 h-3" aria-hidden="true"
                           xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                  </button>

                  <div class="ms-3 text-sm font-normal">{{ flash["content"] }}</div>
              </div>
            {% elif flash["alert_type"] == "default" %}
              <div id="toast-default"
                   class="fixed flex items-center w-full max-w-xs p-4 space-x-4 rtl:space-x-reverse text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800 top-5 right-5"
                   role="alert">
                  <button type="button"
                          class="-mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                          data-dismiss-target="#toast-default"
                          aria-label="Close">
                      <span class="sr-only">Close</span>
                      <svg class="w-3 h-3" aria-hidden="true"
                           xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                  </button>

                  <div class="ms-3 text-sm font-normal">{{ flash["content"] }}</div>
              </div>
            {% endif %}
          {% endif %}
          <!-- /Alert flash -->

          <div class="rounded overflow-hidden shadow-lg mt-5">
            <nav class="bg-white border-gray-200 dark:bg-gray-900">
                <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
                    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                        <img src="/public/rust.png" class="h-8 bg-red-200 rounded-lg" alt="rust" />
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
                          Blog
                        </span>
                    </a>
                    {% if is_signedin %}
                      <div class="flex items-center space-x-6 rtl:space-x-reverse">
                          <a href="/auth/logout"
                             class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">
                            Logout
                          </a>
                      </div>
                    {% else %}
                      <div class="flex items-center space-x-6 rtl:space-x-reverse">
                          <a href="/login" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">
                            Login
                          </a>
                          <a href="/users/new"
                             class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">
                            Signup
                          </a>
                      </div>
                    {% endif %}
                </div>
            </nav>

            {% if is_signedin %}
              <nav class="bg-gray-50 dark:bg-gray-700">
                  <div class="max-w-screen-xl px-4 py-3 mx-auto">
                      <div class="flex items-center">
                          <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                              <li>
                                  <a href="/"
                                     class="text-gray-900 dark:text-white hover:underline" aria-current="page">
                                    Home
                                  </a>
                              </li>
                              <li>
                                  <a href="/posts/new" class="text-gray-900 dark:text-white hover:underline">
                                    Add post
                                  </a>
                              </li>
                              <li>
                                  <a href="/posts/mine" class="text-gray-900 dark:text-white hover:underline">
                                    My posts
                                  </a>
                              </li>
                              <li>
                                  <a href="/users/profile" class="text-gray-900 dark:text-white hover:underline">
                                    Profile
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>
            {% endif %}

            <div class="px-6 py-4">
              {% block content %}{% endblock content %}
            </div>
          </div>
        </div>
    </body>
</html>
